.footer-container {
  background-color: #1e1c19;
  padding: 20px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-container .logo img{
  height: 200px;
  width: 200px;
  margin: 0rem 3rem;
  /* border: 2px solid red; */
  
}

.logo-flex, .menu-flex, .social-flex, .address-flex {
  flex-basis: 25%;
  padding: 20px;
  /* border: 2px solid #fff; */
}

.logo-flex {
  flex-grow: 1;
}

.menu-flex, .social-flex, .address-flex {
  flex-grow: 2;
}

h2{
  color: #fff;
}

h2 span{
  color: #a71111;
  font-size: 40px;
}

h3{
  color: white;
  font-size: 1.2rem;
  padding-bottom: 5px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  /* color: #337ab7; */
  color: #fff;
}

a:hover {
  color: #23527c;
}

.fa {
  font-size: 24px;
  margin-right: 10px;
  transition: color 0.3s ease;
}


p{
  color: white;
}

.address-flex p{
  line-height: 1rem;
  text-align: justify;
}

.social-flex ul li a svg {
  /* styles here will apply to all icons */
  width: 24px;
  height: 24px;
  fill: white;
}
.social-flex ul li{
  padding-left: 20px;
}
/* Responsive styles */
@media (max-width: 768px) {
  .footer-container .logo img{
    margin: 0;
    padding: 0;
    height: 150px;
    width: 150px;
  }
  .flex-container {
    flex-direction: column;
    align-items: start;
    padding-left: 10px;
  }
  .flex-container h3{
    font-size: larger;
    font-weight: 600;
  }
  .logo-flex, .menu-flex, .social-flex, .address-flex {
    flex-basis: 100%;
  }
}

@media (max-width: 480px) {
  .logo-flex, .menu-flex, .social-flex, .address-flex {
    padding: 5px;
  }
}

.menu-flex ul li a,
.menu-flex ul li Link {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.menu-flex ul li a:hover,
.menu-flex ul li Link:hover {
  color: #23527c;
}